<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto py-8 px-4 sm:p-12">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Verify password</div>
            <div class="mt-0.5 font-medium">Fill the form to verify your password</div>

            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Forgot password form -->
            <form class="mt-8" [formGroup]="verifyPasswordForm">

                <mat-form-field class="w-100v">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" [formControlName]="'password'" required #passwordField>
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <div class="flex justify-center" style="align-items: center;">
                    <!-- Submit button -->
                    <button class="px-8 mx-2" mat-flat-button [color]="'warn'" type="button" (click)="closePopup()">
                        Close
                    </button>
                    <button class="w-full" mat-flat-button [color]="'primary'"
                        [disabled]="verifyPasswordForm.pristine || verifyPasswordForm.invalid" (click)="verify()">
                        Verify
                    </button>
                </div>


            </form>
        </div>
    </div>
</div>