<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0">
    <div class="w-full sm:w-auto p-8">
        <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
            <!-- Logo -->
            <div class="w-12">
                <img src="assets/images/logo/logo.svg">
            </div>

            <!-- Title -->
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">Reset password</div>
            <div class="mt-0.5 font-medium">Create a new password for admin</div>

            <!-- Alert -->
            <fuse-alert class="mt-8 -mb-4" *ngIf="showAlert" [appearance]="'outline'" [showIcon]="false"
                [type]="alert.type" [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Reset password form -->
            <form class="mt-8" [formGroup]="resetPasswordForm" #resetPasswordNgForm="ngForm">

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input id="password" matInput type="password" [formControlName]="'password'" #passwordField
                        (input)="check(passwordField.value)">
                    <button mat-icon-button type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                        Password is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('password').invalid">
                        Password is invalid
                    </mat-error>

                </mat-form-field>

                <!-- Password confirm field -->
                <mat-form-field class="w-full">
                    <mat-label>Password (Confirm)</mat-label>
                    <input id="password-confirm" matInput type="password" [formControlName]="'passwordConfirm'"
                        #passwordConfirmField>
                    <button mat-icon-button type="button"
                        (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                        matSuffix>
                        <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        <mat-icon class="icon-size-5" *ngIf="passwordConfirmField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    </button>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').invalid">
                        Password is invalid
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Password confirmation is required
                    </mat-error>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('mustMatch')">
                        Passwords must match
                    </mat-error>
                </mat-form-field>

                <div class="password-validation">
                    <!-- <span>
                        <mat-icon svgIcon="mat_solid:circle" *ngIf="!valid"></mat-icon>
                        <mat-icon svgIcon="mat_solid:check" class="text-green-500 w-4 h-4" *ngIf="valid"></mat-icon>
                        password must be in English letters
                    </span> -->
                    <span [ngClass]="{'fw-bold': resetPasswordForm.get('password').value?.length > 7}">
                        <mat-icon svgIcon="mat_solid:circle"
                            *ngIf="resetPasswordForm.get('password').value?.length < 8"></mat-icon>
                        <mat-icon svgIcon="mat_solid:check" class="text-green-500 w-4 h-4"
                            *ngIf="resetPasswordForm.get('password').value?.length > 7"></mat-icon>
                        password should be at least 8 characters
                    </span>
                    <span [ngClass]="{'fw-bold': containNumber}">
                        <mat-icon svgIcon="mat_solid:circle" *ngIf="!containNumber"></mat-icon>
                        <mat-icon svgIcon="mat_solid:check" class="text-green-500 w-4 h-4"
                            *ngIf="containNumber"></mat-icon>
                        password must contain number
                    </span>
                    <span [ngClass]="{'fw-bold': containUppercase}">
                        <mat-icon svgIcon="mat_solid:circle" *ngIf="!containUppercase"></mat-icon>
                        <mat-icon svgIcon="mat_solid:check" class="text-green-500 w-4 h-4"
                            *ngIf="containUppercase"></mat-icon>
                        password must contain uppercase, lowercase
                    </span>
                    <span [ngClass]="{'fw-bold': containSpecialChar}">
                        <mat-icon svgIcon="mat_solid:circle" *ngIf="!containSpecialChar"></mat-icon>
                        <mat-icon svgIcon="mat_solid:check" class="text-green-500 w-4 h-4"
                            *ngIf="containSpecialChar"></mat-icon>
                        password must contain special character (!@/+-)
                    </span>
                    <span
                        [ngClass]="{'fw-bold': resetPasswordForm.get('password').value == resetPasswordForm.get('passwordConfirm').value}">
                        <mat-icon svgIcon="mat_solid:circle"
                            *ngIf="resetPasswordForm.get('password').value != resetPasswordForm.get('passwordConfirm').value"></mat-icon>
                        <mat-icon svgIcon="mat_solid:check" class="text-green-500 w-4 h-4"
                            *ngIf="resetPasswordForm.get('password').value == resetPasswordForm.get('passwordConfirm').value"></mat-icon>
                        password field and confirm password field must match
                    </span>
                </div>
                <!-- Submit button -->
                <button class="fuse-mat-button-large w-full mt-3" mat-flat-button [color]="'primary'"
                    [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid" (click)="resetPassword()">
                    <span *ngIf="!resetPasswordForm.disabled">
                        Reset your password
                    </span>
                    <mat-progress-spinner *ngIf="resetPasswordForm.disabled" [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

            </form>
        </div>
    </div>
</div>